@media only screen  and (max-width: 416px){
.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding:0  5px;
}
.nav-logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 5px;
    color: #252B42;
}
.nav-logo img{
    display: block;
}
.nav-menu-item{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.nav-menu-item li a {
    color: #737373;
    font-size: 30px;
    }
   

}